.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar-nav .nav-link {
  margin-right: 45px;
}

.navbar-nav .nav-link:last-child {
  margin-right: 0;
}
.navbar-brand {
  background-color: #00C01E; /* 원하는 배경색으로 변경 */
  border-radius: 5px; /* 둥근 모서리 */
  padding: 5px 10px; /* 텍스트 주위에 여백 추가 */
}

.signup-link {
  background-color: #2EAFCB; /* 원하는 배경색으로 변경 */
  border-radius: 5px; /* 둥근 모서리 */
  padding: 5px 10px; /* 텍스트 주위에 여백 추가 */
}

.nav-link-custom {
  font-size: 16px;
}

.signup-link {
  font-size: 16px; /* 글자 크기 설정 */
}

.nav-link-custom {
  font-size: 16px;
}